.contenedor{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: minmax(300px, 1fr) 1fr;

	/*Ponemos auto el height para que toda la fila de adapte al contenido*/
	grid-template-rows: minmax(150px, auto) 400px;
}